@{
    ViewBag.Title = "Relação de serviços do projeto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Relação de serviços com entidades externas</h3>
<h4>Veja a relação de serviços que implementamos para confirmar a viabilidade técnica da implementação da comunicação do Front com as entidades externas.</h4>
<br />
<p>
    <strong>Recursos e Materiais</strong> - Serviço que disponibiliza as informações gerais e financeiras sobre os recursos utilizados pelos profissionais e pacientes:<br />
    <a href="http://greisdepaulawcf-001-site1.gtempurl.com/service1/RecursoService.svc" target="_blank">+ Ver Operações</a>&nbsp;
    <a href="http://greisdepaulawcf-001-site1.gtempurl.com/service1/RecursoService.svc?wsdl" target="_blank">+ Ver Definição</a>
</p>
<br />
<p>
    <strong>Laboratórios</strong> - Serviço que disponibiliza as informações dos exames e laudos liberados para os pacientes:<br />
    <a href="http://greisdepaulawcf-001-site1.gtempurl.com/service2/Laboratorio.svc" target="_blank">+ Ver Operações</a>&nbsp;
    <a href="http://greisdepaulawcf-001-site1.gtempurl.com/service2/Laboratorio.svc?wsdl" target="_blank">+ Ver Definição</a>
</p>
<br />
<p>
    <center>
        <img src="~/Imgs/DiagramaWCF.png" />
    </center>
    <br />
</p>