@{
    ViewBag.Title = "Sobre esse sistema";
}
<h3>@ViewBag.Title.</h3>
<h4>@ViewBag.Message</h4>

<p>Autor: Guilherme Reis de Paula - L991523</p>

<address>
    <strong>E-mail: </strong><a href="mailto:greisdepaula@gmail.com">greisdepaula@gmail.com</a><br />
    <strong>GitHub: </strong><a href="https://github.com/L991523/HospitalSaoJose" target="_blank">https://github.com/L991523/HospitalSaoJose</a><br />
</address>
